@layer reset, theme, base, layout, modules;

@view-transition {
  navigation: auto;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }
}

@layer theme {
  :root {
    --color-sedan: #e28525;
    --color-suv: #016972;
    --color-luxury: #00403f;
  }
}

@layer base {
  body {
    font-size: var(--font-size-1);
    font-family: "Lexend Deca";
  }

  h1,
  h2 {
    font-family: "Big Shoulders Display";
  }
}

@layer layout {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-3);
    line-height: var(--font-lineheight-3);

    > .container {
      max-width: var(--size-content-3);
      margin-inline: auto;
      padding: var(--size-4);
    }
  }

  .l-home {
    display: grid;
    inline-size: min(100%, 1280px);
    container: layout / inline-size;
    border-radius: var(--radius-3);
    overflow: hidden;

    @media (width > 50rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  header {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      > h1 {
        margin: 0;
      }
    }

    > blockquote {
      margin: 0;
      margin-block-start: var(--size-4);
      padding: var(--size-3);
    }
  }

  #index-page {
    background-color: #f2f2f2;
    align-items: center;
  }

  #sedans-page {
    background-color: var(--color-sedan);

    blockquote {
      border-left: var(--border-size-3) solid;
      border-image: repeating-linear-gradient(
          45deg,
          black 0 5px,
          var(--color-sedan) 5px 10px
        )
        1;
    }
  }

  #suv-page {
    background-color: var(--color-suv);

    blockquote {
      border-left: var(--border-size-3) solid;
      border-image: repeating-linear-gradient(
          45deg,
          black 0 5px,
          var(--color-suv) 5px 10px
        )
        1;
    }
  }

  #luxury-page {
    background-color: var(--color-luxury);
    color: var(--gray-0);

    blockquote {
      border-left: var(--border-size-3) solid;
      border-image: repeating-linear-gradient(
          45deg,
          var(--gray-0) 0 5px,
          var(--color-luxury) 5px 10px
        )
        1;
    }
  }
}

@layer modules {
  article {
    display: grid;
    grid-row: span 4;
    grid-template-rows: subgrid;
    padding: var(--size-8);

    @container (width < 400px) {
      padding: var(--size-6);
    }

    > h2 {
      color: var(--gray-0);
      text-transform: uppercase;
      font-size: var(--font-size-fluid-2);
      margin-block: var(--size-4);
    }

    > p {
      color: hsl(0 0% 100% / 70%);
      line-height: var(--font-lineheight-3);
    }

    > a {
      display: inline-block;
      width: fit-content;
      margin-block-start: var(--size-9);
      padding: var(--size-3) var(--size-6);

      color: var(--card-color);
      background-color: var(--gray-0);
      border: var(--border-size-2) solid var(--gray-0);
      border-radius: var(--radius-6);

      text-decoration: none;

      &:hover {
        color: var(--gray-0);
        background-color: var(--card-color);
      }
    }
  }

  .sedan {
    --card-color: var(--color-sedan);
  }

  .suv {
    --card-color: var(--color-suv);
  }

  .luxury {
    --card-color: var(--color-luxury);
  }

  article {
    background-color: var(--card-color);
  }
}

@layer modules {
  button {
    padding: var(--size-2);
    background-color: var(--gray-0);
    border-radius: var(--radius-6);
    border: var(--border-size-2) solid var(--gray-0);
    display: inline-block;
  }

  #sedans-page {
    --page-color: var(--color-sedan);
  }

  #suv-page {
    --page-color: var(--color-suv);
  }

  #luxury-page {
    --page-color: var(--color-luxury);
  }

  #sedans-page,
  #suv-page,
  #luxury-page {
    button {
      color: var(--page-color);
      margin-block: var(--size-4);

      &:hover {
        background-color: var(--page-color);
        color: var(--gray-0);
      }
    }
  }
}

@layer transitions {
  .sedan-icon {
    view-transition-name: sedan-icon;
  }

  .suv-icon {
    view-transition-name: suv-icon;
  }

  .luxury-icon {
    view-transition-name: luxury-icon;
  }

  .sedan-title {
    view-transition-name: sedan-title;
  }

  .suv-title {
    view-transition-name: suv-title;
  }

  .luxury-title {
    view-transition-name: luxury-title;
  }
}
